{% extends "layout.html" %}
{% block content %}
<div class="mt-3">
<h1>About Page</h1>
<p>
  This app shows the basic usage of Flask framework. It allows creation and deletion of users.
  A user can self register but will require an approval from administrator before the user can have access to database entries.
</p>
<p>
  Once the user has access, (s)he can create a post and enter expenses.
  It demonstrates the usage of <code>jinja2 macros</code>, <code>jinja2 templates</code> that are reusable.
  There is one template called <code>tabular_view.html</code> which can generate the table based on values passed as explained below.
  It also uses three partial templates <code>addModalNew.html</code>, <code>deleteModalNew.html</code> and <code>updateModalNew.html</code>
  which in turn use the values passed to the parent template.

  The python code that renders the <code>tabular_view.html</code> can be seen in the functions <code>expenses</code> in approot/expense/routes.py
  and <code>registeredusers</code> in approot/users/routes.py

  Explained below is the usage:
</p>

Create function:
  <pre>
  @users.route("/registeredusers", methods=['GET', 'POST'])
  @login_required
  def registeredusers():
  </pre>
  Now check that the function can be called or needs to be aborted and then assign the form that template will be using.
  <pre>
      if current_user.role != 'Admin':
          flash('Your role does not permit access to this page!', 'danger')
          abort(403)
      form = UpdateRegistredUsersForm()
  </pre>
  Now declare the fields that you want displayed in a list called displayfield
  <pre>
      displayfields = ['author', 'email', 'role', 'dark_mode_get_symbol', 'theme']
  </pre>
  Then declare the fields that you would want displayed on the modals (update and add modals will both use this list).
  Notice that dark_mode has an additional key 'switch' which allows display of checkbox as a switch rather than a tickbox on the form.
  The 'name' key must correspond to the actual name of the field in the form that will be passed to the template.
  <pre>
    editfields = [
    {'name':'username'},
    {'name':'email'},
    {'name':'role'},
    {'name':'dark_mode','switch':True},
    {'name':'theme'}
    ]
  </pre>
  Now declare the columns you would like displayed in the table. If you want the column to be sortable, pass the value for key 'sortable' as 'true' (all lowercase).
  <pre>
    columns = [
    {'name':'Username','sortable':"true"},
    {'name':'Email','sortable':"false"},
    {'name':'Role','sortable':"true"},
    {'name':'Dark Mode','sortable':"false"},
    {'name':'Theme','sortable':"false"}]
  </pre>
  Write the query to get data from the database table. Now declare a list variable rows which will store this data in dictionary format
  and will be used by the templates.
  <pre>
    users = User.query.order_by(User.username.desc()).all()
    rows = []
    for user in users:
        userdict = {'id':user.id,
        'author':user.username,
        'email':user.email,
        'role':user.role,
        'dark_mode_get_symbol':get_symbol(user.dark_mode),
        'dark_mode':user.dark_mode,
        'username':user.username,
        'theme':user.theme}
        rows.append(userdict)
  </pre>

  declare the row_id variable as 'None'. This is used in the template for displaying error on update modal and will be set and passed by update function separately.
  <pre>
    row_id=None
  </pre>
  Finally render template and pass all the above values like so:
  <pre>
    return render_template('tabular_view.html', form=form, \
    columns=columns, rows=rows, fields=displayfields, editfields=editfields, \
    update_route='users.update_user', self_route='users.registeredusers',row_id=row_id, \
    delete_route='users.delete_user', title='Registerd Users')
  </pre>

Some variables directly passed are as explained below:

<code>update_route</code> - Name of the function to be used to update the data in the update modal form.
<code>self_route</code> - Name of the function to be used to insert the data in the add modal form and clone modal form.
<code>delete_route</code> - Name of the function to be used to delete the data.
<code>title</code> - This is optional but normally should include the title of the page that needs to be displayed.


  Use this explanation to follow the usage in expense function to get a better uderstanding.



  <h2>Further activities to explore:</h2>
  <pre>
    * ~~Create Macro for creating fields~~ - Done
    * ~~Create a grid editable form~~ - Added following functionality on expenses page:
      * ~~Ability to make a row editable using edit button.~~ - Done (For Expense Page)
      * ~~Ability to update using Modal Form.~~ - Done (For User Page)
      * ~~Add "search" box. - Basic Search on expenses table is added but can be improved.~~ Done - Applied [Bootstrap Table](https://bootstrap-table.com/)
      * Add "select" row and "multiple delete" - Explore "bootstrap table" as an option.

    * Modals
      * ~~Creation and submission of forms using Modals.~~ - Done
      * ~~Validation to display in Modals and not take back to the page form.~~ - Done
      * ~~Make the update button disappear for entries created by other users.~~ Done
      * ~~Make modal changes for Users table~~ Done
      * Make modal changes for Posts Table.
      * Clean Up code
    * Creation of subforms - Possibly just a mechanism to add modals. ~~Although need to understand the cascade of deletion using SQLAlchemy.~~ CASCADE Deletion now works. Just needed to ensure the models definition included `cascade='all,delete,delete-orphan'` in the relationship definition.
    </pre>

  <h2>How To?</h2>
<ol>
  <li> Clone this repository on your desktop in the python virtual environment.</li>
  <li>Run following commands to install dependencies:</li>
    <pre>
    pip install --upgrade pip
    pip install gunicorn flask run.py flask-bootstrap flask-mail flask-SQLAlchemy flask-bcrypt flask-table flask-wtf flask-login pillow
    </pre>
  <li> Go to the directory <code>approot</code> on terminal / commandline and give the command <code>python run.py</code></li>
  <li> Install any missing dependencies.</li>
  <li> Once the run.py has worked, press <code>Ctrl+C</code> to stop the server.</li>
  <li> Then type python and in the python interpreter initiate database using the <code>create_admin_user.py</code></li>
  <li> Now start the app by typing <code>python run.py</code></li>
  <li> In your browser type: <a href="http://localhost:5000/"></a> and register a user with your own username and password.</li>
  <li> Login using the username <code>admin@admin.com</code> and password <code>adminpassword</code></li>
  <li> Go to "Registered Users" link and update the user role to <code>Admin</code>.</li>
  <li> Logout and login with user you created in Step 7.</li>
  <li> Go to Registered users and delete the default admin user you created.</li>
  <li> Explore further!!!</li>
</ol>
</div>
{% endblock content %}
