{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<p>
  This app shows the basic usage of Flask framework. It allows creation and deletion of users.
  A user can self register but will require and approval from administrator before the user can have access to database entries.
</p>
<p>
  Once the user has access, (s)he can create a post and enter expenses. This functionality demonstrates the usage of <code>wtforms</code>.
  More specifically, usage of dropdown and display of date field and checkboxes.
</p>

  <h2>Further activities to explore:</h2>
  <ul>
    <li>Create a grid editable form</li>
    <li>Creation of subforms</li>
    <li>Creation of forms in modals</li>
  </ul>

  <h2>How To?</h2>
<ol>
  <li> Clone this repository on your desktop in the python virtual environment.</li>
  <li>Run following commands to install dependencies:
    <pre>
    pip install --upgrade pip
    pip install gunicorn flask run.py flask-bootstrap flask-mail flask-SQLAlchemy flask-bcrypt flask-table flask-wtf flask-login pillow
    <pre>
  </li>
  <li> Go to the directory <code>approot</code> on terminal / commandline and give the command <code>python run.py</code></li>
  <li> Install any missing dependencies.</li>
  <li> Once the run.py has worked, press <code>Ctrl+C</code> to stop the server.</li>
  <li> Then type python and in the python interpreter initiate database using the <code>create_admin_user.py</code></li>
  <li> Now start the app by typing <code>python run.py</code></li>
  <li> In your browser type: <a href="http://localhost:5000/"></a> and register a user with your own username and password.</li>
  <li> Login using the username <code>admin@admin.com</code> and password <code>adminpassword</code></li>
  <li> Go to "Registered Users" link and update the user role to <code>Admin</code>.</li>
  <li> Logout and login with user you created in Step 7.</li>
  <li> Go to Registered users and delete the default admin user you created.</li>
  <li> Explore further!!!</li>
</ol>

{% endblock content %}
