<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
      {% if current_user.is_authenticated %}
        {% if current_user.theme.upper() == "DEFAULT" %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {% endif %}
        {% if current_user.theme.upper() == "SKETCHY" %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
        {% endif %}
        {% if current_user.theme.upper() == "MINTY" %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">
        {% endif %}
      {% else %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      {% endif %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
      {% if current_user.is_authenticated and current_user.dark_mode == True%}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='light_theme_main.css') }}">
      {% endif %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
      <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
      <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
      <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
      <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
      {% block script %}
      {% endblock %}

      {% if title %}
          <title>Expense Tracking App - {{ title }}</title>
      {% else %}
          <title>Expense Tracking App</title>
      {% endif %}
  </head>
  <body>
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/"><i class="fas fa-chart-pie" style="font-size:50px">ET</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                {% endif %}

                <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>

                {% if current_user.is_authenticated and current_user.role != 'Pending' %}
                  <a class="nav-item nav-link" href="{{ url_for('expenses.expense') }}">Expenses</a>
                {% endif %}

              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <div class="container">
                <div class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown">Dropdown Example
                 <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="#">HTML</a></li>
                   <li><a href="#">CSS</a></li>
                   <li><a href="#">JavaScript</a></li>
                 </ul>
               </div>
             </div>
                {% if current_user.is_authenticated and current_user.role != 'Pending' %}
                  <!-- <a class="nav-item nav-link" href="{{ url_for('expenses.new_expense', continue_flag = 'No') }}" title="New Expense"><i class="fas fa-cash-register" style="font-size:30px"></i></a> -->
                  <!-- <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}" title="New Post"><i class="fas fa-pen-nib" style="font-size:30px"></i></a> -->
                {% endif %}

                {% if current_user.is_authenticated %}
                {% if current_user.role == "Admin" %}
                  <a class="nav-item nav-link" href="{{ url_for('users.registeredusers') }}" title="Registered Users"><i class="fas fa-users"style="font-size:30px"></i></a>
                {% endif %}
                  <a class="nav-item nav-link" href="{{ url_for('users.account') }}" title="Account"><i class="fas fa-portrait" style="font-size:30px"></i></a>
                  <a class="nav-item nav-link" href="{{ url_for('users.logout') }}" title="Logout">
                    <div align="center">
                      <div position="relative"><i class="fas fa-sign-out-alt" style="font-size:30px"></i></div>
                      <div position="relative">{{ current_user.username }} </div>
                    </div>
                  </a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-12 mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}

          </div>
          <!-- <div class="col-md-3 ml-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
               <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  {% if current_user.is_authenticated and current_user.role != 'Pending' %}
                  <li class="list-group-item list-group-item-light"><a href="{{ url_for('expenses.new_expense', continue_flag = 'No') }}">New Expense</a></li>
                  {% endif %}
                   <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div> -->
        </div>
      </main>
  </body>
</html>
