{% extends "layout.html" %}
{% from "util/macros_modified.html" import form_field_custom with context %}

{% block content %}

<div class="mt-3">
<h2>Hola! {{ current_user.username }}</h2>
{% if current_user.is_authenticated and current_user.role == 'Pending' %}
<h3> Please contact the administrator to get your role changed as you will not have access to all functionality without the right role assigned. </h3>
{% endif %}
</div>

<div>
  {% if create_route %}
  <div class="row mt-3">
    <div class="col-sm-8">
      <button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#AddNewModal">
        {% if buttonName %}
          {{ buttonName }}
        {% else %}
          Add
        {% endif %}
      </button>
      {% include "partials/addModalNew.html" %}
    </div>
  </div>
  {% endif %}

  <table class="table table-hover"
  id="tbl"
  style="width: 100%"
  data-toggle="table"
  data-search="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-export="true"
  data-pagination="true"
  data-show-extended-pagination="true"
  data-page-list="[3, 5, 10, 25, 50, 100, all]"
  data-page-size="5"
  data-show-export="true">
   <thead>
    {%- for column in columns %}
       <th data-sortable = "{{ column.sortable }}">{{ column.name }}</th>
    {%- endfor %}
    {% if create_route %}
      <th>Clone</th>
    {% endif %}
    <th>Update</th>
    <th>Delete</th>
   </thead>

   <tbody>
    {% for row in rows %}
    <tr>
      {% for field in fields %}
        <td>{{ row[field] }}</td>
      {% endfor %}
      {% if create_route %}
        <td><button type="button" class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ row.id }}"><i class="fas fa-clone"></i></button></td>
        {% include "partials/cloneModalNew.html" %}
      {% endif %}
      {% if current_user.username == row.author or current_user.role == "Admin"%}
        <td><button type="button" class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ row.id }}"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ row.id }}"><i class="fas fa-trash-alt"></i></button></td>
        {% include "partials/updateModalNew.html" %}
        {% if row_id %}
          {% if form.errors %}
            <script>
            $("#updateModal{{ row_id }}").modal('show');
            </script>
          {% endif %}
        {% endif %}
        <!-- Delete Modal Button-->
        {% include "partials/deleteModalNew.html" %}
      {% endif %}
     </tr>
     {% endfor %}
   </tbody>
   </table>


   {% for expense in rows %}

   {% endfor %}
</div>

{% endblock content %}
