[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

gunicorn 
flask-bootstrap 
flask-mail 
flask-SQLAlchemy 
flask-bcrypt 
flask-table 
flask-wtf 
flask-login 
pillow
