{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block script %}

{% endblock %}

{% block content %}
<div class="mt-3">
  <table
  class="table table-hover"
  id="user_table"
  data-toggle="table"
  data-search="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-export="true"
  data-pagination="true"
  data-show-extended-pagination="true"
  data-page-list="[3, 5, 10, 25, 50, 100, all]"
  data-page-size="5"
  data-show-export="true"
  >
    <thead>
        <tr>
            <th data-sortable="true">Username</th>
            <th data-sortable="true">Email</th>
            <th data-sortable="true">Role</th>
            <th><div align="center">Update</div></th>
            <th><div align="center">Delete</div></th>
        <tr>
    </thead>
    <tbody>
    {% for user in users %}


            <tr row_id="{{ user.id }}">
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.role }}</td>
                  <!-- <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('users.update_user', user_id=user.id) }}">Update</a></td> -->
                  <td>
                    <div  align="center">
                        <button type="button" class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ user.id }}"><i class="fas fa-edit"></i></button>
                    </div>
                  </td>

                  <td>
                    <div align="center">
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ user.id }}"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </td>
              </tr>


      <!-- Update Modal -->
      {% include "user/partials/updateModal.html" %}

      {% if user_id %}
        {% if form.errors %}
          <script>
          $("#updateModal{{ user_id }}").modal('show');
          </script>
        {% endif %}
      {% endif %}
      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete User?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock content %}
