{% extends "layout.html" %}
{% from "util/macros_modified.html" import form_field_custom with context %}
{% block content %}
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="content-section col-md-6">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Reset Password</legend>
              <div class="form-group">
                {{ form_field_custom(form.email,with_label=True, type="email") }}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
          </div>
      </form>
  </div>
</div>

{% endblock content %}
