{% extends "layout.html" %}
{% from "util/macros_modified.html" import form_field_custom with context %}

{% block script %}

{% endblock %}

{% block content %}
<div>
  <div class="row mt-3">
    <div class="col-sm-8">
      <button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#AddNewModal">Add New Expense</button>
      {% include "expense/partials/addModal.html" %}
    </div>
  </div>

  <table
  class="table table-hover"
  id="expense_tbl"
  style="width: 100%"
  data-toggle="table"
  data-search="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-export="true"
  data-pagination="true"
  data-show-extended-pagination="true"
  data-page-list="[3, 5, 10, 25, 50, 100, all]"
  data-page-size="5"
  data-show-export="true">
    <colgroup>
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 40%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 5%;">
    </colgroup>
    <thead>
        <tr>
            <th data-sortable="true">Who?</th>
            <th>Description <font color="red">*</font></th>
            <th data-sortable="true">Amount <font color="red">*</font></th>
            <th data-sortable="true">Expense Date <font color="red">*</font></th>
            <th>VAT Amount</th>
            <th>Transferrable</th>
            <th>Update</th>
            <th>Delete</th>
        <tr>
    </thead>
    <tbody>

     {% for expense in expenses %}

              <tr row_id="{{ expense.id }}">

                  <td style="text-align:center;">
                      <div align="center">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + expense.author.image_file) }}">
                      </div>
                      <div align="center">
                        <!--<div class="article-metadata">-->
                          <a class="mr-2" href="{{ url_for('expenses.user_expenses', username=expense.author.username) }}">{{ expense.author.username }}</a>
                        <!--</div>-->
                      </div>
                  </td>
                  <!-- <td>{{ expense.description }}</td> -->
                  <form method="POST" action="{{ url_for('expenses.update_expense', expense_id=expense.id) }}">
                    <fieldset class="form-group" style="display:none">
                      {{ form.hidden_tag() }}
                      <!--{% set row_id = expense.id|string %}-->
                      <td>{{ expense.description }}</td>
                      <td>{{ expense.amount }}</td>
                      <td>{{ expense.expense_date.strftime('%Y-%m-%d') }}</td>
                      <td>{{ expense.vat_amount }}</td>
                      <!--<td disabled="disabled" checked="checked"></td>-->
                          {% if expense.Transferrable == False %}
                              <!--{{ form_field_custom(form.Transferrable, disabled="disabled", id="Transferrable"+ row_id) }}-->
                              <td>
                                <input name="btSelectItem" type="checkbox" disabled="disabled">
                              </td>
                          {% else %}
                              <!--{{ form_field_custom(form.Transferrable,checked="checked", onclick="return false;", id="Transferrable"+ row_id) }}-->
                              <td>
                                <input data-index="5" name="btSelectItem" type="checkbox" checked="checked" disabled="disabled">
                              </td>
                          {% endif %}
                      <!--</td>-->


                      {% if current_user.username == expense.author.username %}
                        <td><button type="button" class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ expense.id }}"><i class="fas fa-edit"></button></td>
                        <!--<td><span><button type="button" class="btn btn-info btn-sm m-1" style="Display:block" id="btn_ed{{ expense.id }}"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-info btn-sm m-1" style="Display:none" id="btn_cancel{{ expense.id }}"><i class="far fa-window-close"></i></button>
                        </span></td>
                        <td><button type="submit" class="btn btn-primary btn-sm m-1" id="btn_up{{ expense.id }}"><i class="fas fa-save"></i></button></td>-->
                        <td><button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ expense.id }}"><i class="fas fa-trash-alt"></i></button></td>
                      {% endif %}

                    </fieldset>
                  </form>
              </tr>

      <!-- Update Modal Button-->
      {% include "expense/partials/updateModal.html" %}
      {% if expense_id %}
        {% if form.errors %}
          <script>
          $("#updateModal{{ expense_id }}").modal('show');
          </script>
        {% endif %}
      {% endif %}
      <!-- Delete Modal Button-->
      {% include "expense/partials/deleteModal.html" %}

    {% endfor %}
    </tbody>
    </table>


</div>

{% endblock content %}
