{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div>
<button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#AddNewModal">Add New Expense</button>
{% include "expense/partials/addModal.html" %}
  <table class="table">
    <thead>
        <tr>
            <th>Who?</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Expense Date</th>
            <th>VAT Amount</th>
            <th>Transferrable</th>
            <th>Edit</th>
            <th>Delete</th>
        <tr>
    </thead>
    {% for expense in expenses.items %}

          <tbody>
              <tr>
                  <td style="text-align:center;">
                      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + expense.author.image_file) }}">
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="{{ url_for('users.user_expenses', username=expense.author.username) }}">{{ expense.author.username }}</a>
                        </div>
                      </div>
                  </td>
                  <td>{{ expense.description }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>{{ expense.expense_date.strftime('%d-%b-%Y') }}</td>
                  <td>{{ expense.vat_amount }}</td>
                  <td>{{ expense.Transferrable }}</td>
                  <!-- <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('expenses.update_expense', expense_id=expense.id) }}">Update</a></td> -->
                  <td><button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ expense.id }}">Update</button></td>
                  <td><button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ expense.id }}">Delete</button></td>
              </tr>
          </tbody>

      {% include "expense/partials/updateModal.html" %}
      {% include "expense/partials/deleteModal.html" %}

    {% endfor %}
    </table>
    {% for page_num in expenses.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if expenses.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('expenses.expense', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('expenses.expense', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
</div>

{% endblock content %}
