body {
  background: #1b1b1c;
  color: #f7c833;
  margin-top: 5rem;
}

.page-item.active .page-link {
  color: #f7c833;
  background-color: #1b1b1c;
  border-color: #f7c833;
}

.page-link {
  color: #1b1b1c;
}

.btn {
  font-weight: bold;
  color: #1b1b1c;
  background-color: #f7c833;
  border-color: #f7c833;
}

.btn:hover {
    color: #f7c833;
    background-color: #1b1b1c;
    border-color: #f7c833;
}

.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    color: #f7c833;
    background-color: #212529;
    border-color: #f7c833;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary {
    color: #1b1b1c;
    background-color: #f7c833;
    border-color: #1b1b1c;
    font-weight: bold;
}

.btn-primary:hover {
    color: #f7c833;
    background-color: #1b1b1c;
    border-color: #f7c833;
    font-weight: bold;
}

.btn-primary-rev {
    color: #f7c833;
    background-color: #1b1b1c;
    border-color: #f7c833;
    font-weight: bold;
}

.btn-primary-rev:hover {
    color: #1b1b1c;
    background-color: #f7c833;
    border-color: #1b1b1c;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #ee861a;
}

.modal-open {
  color: black;
  font-weight: bold;
}

pre {
    font-size: 87.5%;
    color: #2e8709;
}

.bg-steel {
  background-color: #000000;
}

.navbar-dark .navbar-brand {
    color: #f4bc0e;
}

.site-header .navbar-nav .nav-link {
  color: #f4bc0e;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
    background: #f7c833;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #1b1b1c;
    font-weight: bold;
    margin-top: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
